doctype html

html
  head
    meta(charset='UTF-8')
    title Comment Better Button (Inject)
    style.
      html, body {
        background-color: rgba(0,0,0,0)
      }
  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
