/* better_comment puts the button on the page */

.cbButton { 
  z-index: 0;
  overflow-y: visible;
  position: relative;
}

#cbButton {
  position: relative;
  top: 0px;
  right: -2px;
  width: 25px;
}

#cbModal {
  position: absolute;
  bottom: 44px;
  right: 5px;
  display: block;
  visibility: hidden;
  z-index: 99;
  border-radius: 3px;
  width: 280px;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(150,150,150,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(150,150,150,1);
  box-shadow: 0px 0px 5px 1px rgba(150,150,150,1);
}